// .form-content{
//     // border: 1px solid gray;
// }
.btns{
    display: flex;
    justify-content: space-between;
}
mat-form-field{
    width: 400px;
   // margin-left: 40px;
}
// .btn-right{
//     display: flex;
//     justify-content: space-around;
// }
.btn{
    margin: 10px;
    
}
.rows{
    display:flex;
}
.labels{
    width: 200px;
//   margin-right: 100px;
}